<form class="example-form" [formGroup]="addClassForm" (ngSubmit)="addClass()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput formControlName="year">
    </mat-form-field></td>
  </tr></table>

  <mat-form-field appearance="fill">
    <mat-label>Admin User</mat-label>
    <mat-select formControlName="teacher_id">
      <mat-option>Clear</mat-option>
      <mat-option [value]="user?.teacher_id" *ngFor="let user of teacherList">{{user?.username}}</mat-option>
    </mat-select>
  </mat-form-field>


  <button type="submit">Add</button>
</form>
