<form class="row g-3" [formGroup]="addClassForm" (ngSubmit)="addClass()">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" formControlName="description"></textarea>
  </div>

  <div class="col-md-2">
    <label for="year" class="form-label">Year</label>
    <input type="text" class="form-control" id="year" formControlName="year">
  </div>
  <div class="col-md-4">
    <label for="adminUser" class="form-label">Teacher</label>
    <select id="adminUser" class="form-select" formControlName="teacher_id">
      <option selected>Choose...</option>
      <option [value]="teacher?.teacher_id" *ngFor="let teacher of teacherList">{{teacher?.username}}</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
