$space-tiny: 4px;
$space-xs: 8px;
$space-xxs: 12px;
$space-2xs: 16px;
$space-sm: 20px;
$space-md: 24px;
$space-lg: 28px;
$space-xl: 32px;
$space-2xl: 36px;
$space-3xl: 40px;
$space-3xxl: 80px;
$space-4xl: 90px;