<div class="row w-100 m-0">
  <div class="col-7 p-0">
    <div class="login-body-content d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <form [formGroup]="loginForm">
              <div class="login-form text-center">
                <div class="form-control p-0">
                  <div class="input-content">
                    <input type="email" formControlName="email" placeholder="Enter your email">
                    <span></span>
                  </div>
                </div>
                <div class="form-control p-0">
                  <div class="input-content">
                    <input type="password" formControlName="password" placeholder="Enter your password">
                    <span></span>
                  </div>
                </div>
                <div class="py-2 text-center">
                  <button (click)="login()">Login</button>
                </div>
                <a class="text-center" (click)="forgotPass()">Forgot Password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 p-0">
    <div class="login-right-container position-relative">
      <div class="login-right-content">
        <h4>School management</h4>
      </div>
      <img src="assets/login4.png">
    </div>
  </div>
</div>
