<button mat-button class="menu-button" [routerLink]="['./dashboard']">
  <mat-icon>home</mat-icon>
  <span>Dashboard</span>
</button>
<button mat-button class="menu-button">
  <mat-icon>person</mat-icon>
  <span>Profile</span>
</button>
<div *ngIf="loggedUser?.school_id">
  <button mat-button class="menu-button" [routerLink]="['./institute-profile']" *ngIf="loggedUser.role == userRoles.Admin">
    <mat-icon>person</mat-icon>
    <span>Institute profile</span>
  </button>

  <button mat-button class="menu-button" [routerLink]="['classes']" *ngIf="loggedUser.role == userRoles.Admin">
    <mat-icon>supervised_user_circle</mat-icon>
    <span>Classes</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="['teachers']" *ngIf="loggedUser.role == userRoles.Admin">
    <mat-icon>school</mat-icon>
    <span>Teachers</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="['students']" *ngIf="loggedUser.role == userRoles.Admin">
    <mat-icon>school</mat-icon>
    <span>Students</span>
  </button>
  <button mat-button class="menu-button" [routerLink]="['parents']" *ngIf="loggedUser.role == userRoles.Admin">
    <mat-icon>school</mat-icon>
    <span>Parents</span>
  </button>
  <mat-divider></mat-divider>
</div>

<div *ngIf="loggedUser?.role == userRoles.Parent">
  <button mat-button class="menu-button" [routerLink]="['parent/students']">
    <mat-icon>school</mat-icon>
    <span>Students</span>
  </button>
</div>

<button mat-button class="menu-button" (click)="logOut()">
  <mat-icon>logout</mat-icon>
  <span>Log out</span>
</button>
