


<form class="row g-3" [formGroup]="addTeacherForm" (ngSubmit)="addTeacher()">
  <div class="col-md-6">
    <label for="firstname" class="form-label">Name</label>
    <input type="text" class="form-control" id="firstname" formControlName="firstname">
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="col-md-6">
    <label for="mobile_no" class="form-label">Mobile No.</label>
    <input type="number" class="form-control" id="mobile_no" formControlName="mobile_no">
  </div>
  <div class="col-md-6">
    <label for="father_name" class="form-label">Father Name</label>
    <input type="text" class="form-control" id="father_name" formControlName="father_name">
  </div>
  <div class="col-md-2">
    <label class="form-label">Gender</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="female" value="F" formControlName="gender">
      <label class="form-check-label" for="female">
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="male" value="M" formControlName="gender">
      <label class="form-check-label" for="male">
        Male
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <label for="date_of_birth" class="form-label">Date of birth</label>
    <input type="date" class="form-control" id="date_of_birth" formControlName="date_of_birth">
  </div>

  <div class="col-md-6">
    <label for="education" class="form-label">Education</label>
    <input type="text" class="form-control" id="education" formControlName="education">
  </div>
  <div class="col-md-6">
    <label for="experience" class="form-label">Experience</label>
    <input type="text" class="form-control" id="experience" formControlName="experience">
  </div>

  <div class="col-md-2">
    <label for="date_of_birth" class="form-label">Date of start</label>
    <input type="date" class="form-control" id="date_of_start" formControlName="date_of_start">
  </div>

  <div class="col-md-6">
    <label for="monthly_salary" class="form-label">Monthly Salary</label>
    <input type="number" class="form-control" id="monthly_salary" formControlName="monthly_salary">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>

  </div>
  <div class="explanation-content">
    <h3>Explanation</h3>
    <p>Username will be: Firstname.Lastname</p>
    <p>Password will be: Firstname123!</p>
  </div>
</form>
