
<div class="page-body list-page">

  <div class="row" style="margin-top:20px;">

    <ng-container *ngFor="let student of dataSource">
      <div class="m-round el-content">
        <img src="/assets/no-imagef.png" class="img-circle" *ngIf="student?.gender === 'F'">
        <img src="assets/no-image.png" class="img-circle" *ngIf="student?.gender === 'M'">
        <br><span>{{student.first_name}} {{student.last_name}}</span><br><b>{{student.email}}</b><br>
        <form>
          <button class="btn btn-sm m-round bg-m-gray m-white action-button" type="submit" name="eview" title="View Details" [routerLink]="['../../edit-student',student.nr_amzes]">
            <mat-icon>edit</mat-icon>
          </button>

        </form>
      </div>
    </ng-container>
  </div>

</div>
