
<form class="row g-3" [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
  <div class="col-md-6">
    <label for="nr_amzes" class="form-label">Nr Amzes</label>
    <input type="number" class="form-control" id="nr_amzes" formControlName="nr_amzes">
  </div>
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="firstname">
  </div>
  <div class="col-md-6">
    <label for="lastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="col-md-6">
    <label for="mobile_no" class="form-label">Mobile No.</label>
    <input type="number" class="form-control" id="mobile_no" formControlName="mobile_no">
  </div>
  <div class="col-md-2">
    <label class="form-label">Gender</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="female" value="F" formControlName="gender">
      <label class="form-check-label" for="female">
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="male" value="M" formControlName="gender">
      <label class="form-check-label" for="male">
        Male
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <label for="date_of_birth" class="form-label">Date of birth</label>
    <input type="date" class="form-control" id="date_of_birth" formControlName="date_of_birth">
  </div>

  <div class="col-md-2">
    <label for="date_of_birth" class="form-label">Date of join</label>
    <input type="date" class="form-control" id="date_of_start" formControlName="date_of_join">
  </div>

  <div class="col-md-4">
    <label for="parentUser" class="form-label">Parent</label>
    <select id="parentUser" class="form-select" formControlName="parent_id">
      <option selected [value]="null">Choose...</option>
      <option [value]="parent?.parent_id" *ngFor="let parent of parentsList">{{parent?.username}}</option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="classId" class="form-label">Class</label>
    <select id="classId" class="form-select" formControlName="class_id">
      <option selected [value]="null">Choose...</option>
      <option [value]="class?.class_id" *ngFor="let class of classesList">{{class?.class_name}}</option>
    </select>
  </div>

  <fieldset class="col-12 row mt-2">
    <legend>Father Information</legend>
    <div class="col-md-6">
      <label for="father_name" class="form-label">Father Name</label>
      <input type="text" class="form-control" id="father_name" formControlName="father_name">
    </div>
    <div class="col-md-6">
      <label for="father_mobile_no" class="form-label">Father mobile no</label>
      <input type="number" class="form-control" id="father_mobile_no" formControlName="father_mobile_no">
    </div>

    <div class="col-md-6">
      <label for="father_education" class="form-label">Father Education</label>
      <input type="text" class="form-control" id="father_education" formControlName="father_education">
    </div>
    <div class="col-md-6">
      <label for="father_profession" class="form-label">Father Profession</label>
      <input type="text" class="form-control" id="father_profession" formControlName="father_profession">
    </div>
  </fieldset>

  <fieldset class="col-12 row mt-2">

    <legend>Mother Information</legend>

    <div class="col-md-6">
      <label for="mother_name" class="form-label">Mother Name</label>
      <input type="text" class="form-control" id="mother_name" formControlName="mother_first_name">
    </div>
    <div class="col-md-6">
      <label for="mother_mobile_no" class="form-label">Mother mobile no</label>
      <input type="number" class="form-control" id="mother_mobile_no" formControlName="mother_mobile_no">
    </div>

    <div class="col-md-6">
      <label for="mother_education" class="form-label">Mother Education</label>
      <input type="text" class="form-control" id="mother_education" formControlName="mother_education">
    </div>
    <div class="col-md-6">
      <label for="mother_profession" class="form-label">Mother Profession</label>
      <input type="text" class="form-control" id="mother_profession" formControlName="mother_profession">
    </div>
  </fieldset>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
