h5 {
  color: #5e81f4 !important;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.1;
}
.page-wrapper {
  padding: 1.8rem;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.btn-group {
  display: inline-block;
}

button {
  background: linear-gradient(45deg, #5e81f4, #7191f7)!important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all .15s ease-in-out;
  color: #fff !important;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  box-shadow: 0 1px 2.94px 0.06px rgb(4 26 55 / 16%);
  border: none;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}
.form-group {
  margin-bottom: 1rem;
}
