<!-- Modal -->
<div class="modal d-block" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title}}</h5>
        <button type="button" class="btn-close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">{{cancelButtonLabel}}</button>
        <button type="button" class="btn btn-primary" (click)="submit()">{{confirmButtonLabel}}</button>
      </div>
    </div>
  </div>
</div>
