<form class="row g-3" [formGroup]="editClassForm" (ngSubmit)="editClass()">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="col-md-6">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" formControlName="description"></textarea>
  </div>

  <div class="col-md-2">
    <label for="year" class="form-label">Year</label>
    <input type="text" class="form-control" id="year" formControlName="year">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
